dialog {
  transition: all .3s ease;
  opacity: 0;
  transform: translateY(-50%);
  display: block;
  visibility: hidden;
  top: 150px;
  padding: 0;
  border-radius: 2px;
  color: #212121;
  border: 0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  z-index: 1;
  position: fixed;
  &[open] {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  form {
    width: 700px;
    padding: 24px;
  }
  .input-container {
    padding: 8px 0;
    input, textarea {
      width: 100%;
      padding: 8px;
      font-size: 14px;
    }
  }
  .dialog-close {
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    &:hover {
      opacity: .6;
    }
  }
  .dialog-title {
    display: flex;
    &__text {
      flex: 1;
      font-size: 24px;
    }
    padding: 12px 24px;
    border-bottom: 1px #e0e0e0 solid;
  }
  .form-actions {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
  }
}