<dialog id="dialog">
    <div class="dialog-title">
        <span class="dialog-title__text">{{ $ctrl.isNew ? 'Создать' : 'Обновить' }} новость</span>
        <span class="dialog-close" ng-click="$ctrl.close()">×</span>
    </div>
    <form method="dialog" ng-submit="$ctrl.submit($event)">
        <div class="input-container">
            <input type="text" placeholder="Название новости" required maxlength="256" ng-model="$ctrl.item.title">
        </div>
        <div class="input-container">
            <textarea placeholder="Содержание новости" required ng-model="$ctrl.item.content"></textarea>
        </div>
        <div class="input-container">
            <input type="text" placeholder="Теги через запятую" ng-model="$ctrl.item.tags">
        </div>
        <div class="form-actions">
            <button ng-click="$ctrl.close()">Отмена</button>
            <button type="submit">{{ $ctrl.isNew ? 'Создать' : 'Обновить' }}</button>
        </div>
    </form>
</dialog>
