<section class="content">
    <div class="create-button" ng-click="$ctrl.openDialog()">Создать новость</div>
    <div ng-repeat="item in $ctrl.items" class="news-item">
        <div class="news-item__heading">
            <div class="news-item__title">#{{item.id}} {{item.title}}</div>
            <span class="news-item__date">{{item.created_at}}</span>
        </div>
        <div class="news-item__tags">
            <span class="news-tag" ng-repeat="tag in item.tags.split(',') track by $index">{{tag}}</span>
        </div>
        <div class="news-item__content">
            {{item.content}}
        </div>
        <div class="news-item__actions">
            <button class="news-button" ng-click="$ctrl.openDialog(item)">Изменить</button>
            <button class="news-button" ng-click="$ctrl.deleteItem(item.id)">Удалить</button>
        </div>
    </div>
    <div ng-show="$ctrl.loading" class="loading">
        <img src="/images/loading.gif" alt="">
    </div>
</section>