.content{
    max-width: 960px;
    margin: 0 auto;
    padding: 36px 0;
    .fade-out {
        pointer-events: none;
        transition: all .3s ease;
        visibility: hidden;
    }
    .create-button {
        border: 1px solid;
        cursor: pointer;
        padding: 12px 0;
        margin: 16px;
        margin-bottom: 36px;
        background: #212121;
        color: #fff;
        text-align: center;
        border-radius: 99px;
        text-transform: uppercase;
    }
    .loading {
        text-align: center;
        margin: 36px 0;
    }
    .news-tag {
        display: inline-block;
        line-height: 1;
        text-align: center;
        border-radius: 99px;
        padding: 3px 6px;
        font-size: 13px;
        border: 1px #757575 solid;
        margin-right: 4px;
    }
    .news-item {
        padding: 16px;
        &__heading {
            display: flex;
        }
        &__title {
            font-weight: 600;
            flex: 1;
            font-size: 24px;
        }
        &__date {
            font-size: 13px;
            opacity: .6;
        }
        &__tags {
            margin-top: 16px;
            margin-bottom: 12px;
        }
        &__content {
            text-align: justify;
        }
        &__actions {
            opacity: 0;
            transition: all .3s ease;
            padding: 16px 0;
            text-align: right;
        }
        &:hover {
            background: #fafafa;
            transition: all .3s ease;
            .news-item__actions {
                opacity: 1;
            }
        }
    }
}