*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  background: #fff;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  font-size: 14px;
}